
<!-- views/events-new.handlebars -->

<form method="POST" action="/events">
  {{> events-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>